*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

div{
  height: 470px;
  width: 265px;
  overflow: hidden scroll;
}

img{
  width: 265px;
}

a{
  padding: 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: -5px;
}